@font-face {
    font-family: 'Balham';
    src: url('Balham.woff2') format('woff2'),
        url('Balham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

